* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
  } 
  .navigationBar{
    
    box-shadow: 0 15px 40px -20px rgb(40 44 63/15%);
    height: 80px;
}
.navbar{
    display: flex;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
  }
   .logo {
    display: block;
    height: 49px;
    margin-right: 16px;
  }
   .logo:hover {
    transform: scale(1.1);
  }
  
  
   
  .others {
    font-weight: 700;
    color: #3d4152;
    float: left;
    padding-bottom: 2px;
    border-bottom: 2px solid #3d4152;
  }
   .others:hover {
    color: #fc8019;
    border-bottom: 2px solid #fc8019;
  }
  
   .arrow-down {
    font-size: 1rem;
    color: #fc8019;
    font-weight: 700;
  }

.items {
    display: flex;
    align-items: center;
  }
   .items li {
    margin-right: 36px;
    color: #3d4152;
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
  }
   .navigation-item {
    display: flex;
    align-items: center;
    padding-left: 28px;
    height: 80px;
    cursor: pointer;
  }
  
  .navigation-item:hover{
    color: #fc8019;
  }


  .itemsList{
    background-color:#fff;
    height: 250px;
    box-shadow:  0 15px 40px -20px rgb(40 44 63 / 15%);
    margin-left: 200px;
    margin-right: 200px;
   
  }
  
  
  .headsection{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
  }
  
  .rightside span{
    padding: 11px;
    color: #3d4152;
  }
  
  .card{
    float: left;
    width: 20px;
    padding: 60px;
    
  }
  .txt{
    color: rgb(143, 142, 141);
    align-items: center;
  }
 


  .restaurants .container {
    position: relative;
    margin: 0 auto;
    padding-top: 5px;
    top: 80px;
    background: #fff;
    left: 31px;
    margin-right: 200px;
    margin-left: 200px;
  }
  
  .container .item-bar .number {
    font-weight: 600;
    font-size: 28px;
    color: #282c3f;
    /* margin-top: -3px; */
  }
  .container .item-bar::after {
    color: #3d4152;
    position: absolute;
    /* content: ''; */
    left: 0;
    right: 0;
    height: 3px;
    top: 3px;
    background: #e9e9eb;
    
  }
  
  .container .item-bar .filters {
    display: flex;
    justify-content: space-between;
    
  }
  .button{
    border-radius: 40px;
    padding: 10px 15px;
    color: #5a5a5a ;
    border: 1px solid #d3d5df;
    cursor: pointer;
    background-color: #fff;
   
  }
  
  .filters div:hover::after {
    color: #3d4152;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 1px;
    top: 31px;
    background: #282c3f;
  }
  .restaurant-list {
    margin-bottom: 85px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;
    padding-top: 10px;
    margin-top: 25px;
  }
  
  
  .restaurant-list .list-item {
    padding: 25px 25px 57px;
    border: 1px none #fff;
    contain: content;
    border-radius:"30px";
    cursor: pointer;
  }
  .restaurant-list .list-item:hover {
    /* border-color: #d3d5df; */
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
    transform: translate(10px,10px);
    
  }
  .top-img {
    background: #eef0f5;
    width: 254px;
    height: 160px;
    border-radius: 30px;
    
  }
  
  .place-name-div {
    margin-top: 14px;
  }
  .place-name-div .name {
    font-size: 17px;
    font-weight: 500;
    /* to bring text in next line */
    word-break: break-word;
  }
  .place-name-div .food-items {
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
    font-weight: 300;
  }
  .info-div {
    display: flex;
    align-items: center;
    margin-top: 18px;
    font-size: 12px;
    justify-content: space-between;
    color: #535665;
    font-weight: 300;
  }
  .info-div .rating {
    background-color: #239b13;
    color: #fff;
    height: 20px;
    width: 36px;
    padding: 0 5px;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-radius: 80px;
  }
  .icon-star {
    font-size: 10px;
    margin-right: 4px;
    /* position: relative; */
    top: -1px;
  }

  
  
  .footer {
    padding: 0 20px;
    z-index: 10;
    background-color: #000;
    min-height: 298px;
    width: 100%;
    color: #fff;
    overflow: scroll;
  }
  .footer-content {
    width: 100%;
    display: flex;
    background-color: #000000;
    justify-content: space-around;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 76px 0;
    height: 100%;
  }
  
  .points {
    color: #808080;
    font-size: 15px;
    font-weight: 600;
    /*    border: 1px solid white;*/
    width: 300px;
    margin: 26px 0px 10px 15px;
    /*    padding: 15px 0px 0px 0px;*/
  }
  
  .footer-li {
    padding: 20px 10px 2px 0px;
  }
  
  .footer-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  
  .footer-li a {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
  }
  
  .footer-li a:hover {
    font-weight: 600;
  }
  
  .points img {
    border: 2px solid #808080;
    padding: 10px;
    margin: 30px 0px 10px 57px;
    border-radius: 10px;
    transition: transform 0.5s;
  }
  
  .points img:hover {
    transform: scale(1.06);
    cursor: pointer;
  }